<head>
  <link rel="stylesheet" href="register_style.css">
  <script src="https://kit.fontawesome.com/c497ad14fd.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500&display=swap" rel="stylesheet">
</head>
<body class="letra">

<% errores = render "users/shared/error_messages", resource: resource%>
<% if errores != "" %>
<div class="alerta">
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <%= errores %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
</div>
<% end %>

  <div class="formulario">
    <br>
    <h2 align="center">¿Olvidaste la contraseña?</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="username">
        <%= f.email_field :email, autocomplete: "email" %>
        <label>Email&nbsp;&nbsp;<i class="fa-regular fa-envelope"></i></label>
      </div>
      <br>
      <div class="actions">
        <%= f.submit "Enviar instrucciones", class: "buttons" %>
      </div>
    <% end %>
    <br>
    <p align="center" class="arreglo"><%= render "users/shared/links" %></p>
  </div>
</body>
