<head>
  <link rel="stylesheet" href="register_style.css">
  <script src="https://kit.fontawesome.com/c497ad14fd.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500&display=swap" rel="stylesheet">
</head>
<body class="letra">
<div class="formulario">
<br>
<h2 align="center">Editar Publicación</h2>

<%= form_with( model: @car, method: :patch) do |c| %>

    <div class="username">
      <%= c.text_field :marca %>
      <label>Marca&nbsp;&nbsp;<i class="fa-regular"></i></label>
    </div>

    <div class="username">
      <%= c.text_field :modelo %>
      <label>Modelo&nbsp;&nbsp;<i class="fa-regular"></i></label>
    </div>

    <div class="username">
      <%= c.text_field :año %>
      <label>Año&nbsp;&nbsp;<i class="fa-regular"></i></label>
    </div>

    <div class="username">
      <%= c.text_field :precio %>
      <label>Precio&nbsp;&nbsp;<i class="fa-regular"></i></label>
    </div>

    <div class="username">
      <%= c.text_field :dueño %>
      <label>Dueño&nbsp;&nbsp;<i class="fa-regular"></i></label>
    </div>

    <div class="username">
      <%= c.submit 'Guardar' %>
    </div>
<% end %>
</div>
</body>